**Homework Assignment 1**

*Student Name:* Levon Gevorgyan

In [79]:
import pandas as pd

**PART 1**

1. Load the dataset. Check the first 5 rows.

In [83]:
df = pd.read_csv("crime_data.csv")

print(df[:5])

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  241711715  08/01/2024 12:00:00 AM  08/01/2024 12:00:00 AM      1319    17
1  231014031  09/21/2023 12:00:00 AM  09/15/2023 12:00:00 AM      1930    10
2  231010808  06/27/2023 12:00:00 AM  06/26/2023 12:00:00 AM      1230    10
3  211410441  04/25/2021 12:00:00 AM  04/25/2021 12:00:00 AM      2330    14
4  211114569  10/25/2021 12:00:00 AM  10/25/2021 12:00:00 AM      1455    11

     AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0   Devonshire         1791         1     440
1  West Valley         1011         2     354
2  West Valley         1015         2     354
3      Pacific         1488         2     626
4    Northeast         1123         1     210

                          Crm Cd Desc  ... Status  Status Desc Crm Cd 1  \
0  THEFT PLAIN - PETTY ($950 & UNDER)  ...     IC  Invest Cont    440.0
1                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
2                   THEFT OF IDENTITY  ...     IC  Invest Cont    354.0
3   INTIMATE PARTNER - SIMPLE ASSAULT  ...     IC  Invest Cont    626.0
4                             ROBBERY  ...     IC  Invest Cont    210.0

  Crm Cd 2  Crm Cd 3 Crm Cd 4                                  LOCATION  \
0      NaN       NaN      NaN   8300    KELVIN                       AV
1      NaN       NaN      NaN  18900    CANTLAY                      ST
2      NaN       NaN      NaN   7300    ENFIELD                      AV
3      NaN       NaN      NaN   5800 W  CENTURY                      BL
4      NaN       NaN      NaN   2900    LOS FELIZ                    BL

  Cross Street      LAT       LON
0          NaN  34.2200 -118.5863
1          NaN  34.2023 -118.5458
2          NaN  34.2033 -118.5241
3          NaN  33.9456 -118.3835
4          NaN   0.0000    0.0000

[5 rows x 28 columns]

2. Identify columns with missing values and their respective counts. Drop columns where more than
50% of the data is missing (store this version as a new dataset).

In [86]:
null = df.isnull()
null_sum = null.sum()
print("Columns with missing values:\n", null_sum)

df.dropna(axis=1, thresh=2500, inplace=True) #there are 5000 rows in the table, so I just took as the threshold the half of it (2500 rows)

df.to_csv("cleaned_crime_data.csv", index=False)

Columns with missing values:
 DR_NO                 0
Date Rptd             0
DATE OCC              0
TIME OCC              0
AREA                  0
AREA NAME             0
Rpt Dist No           0
Part 1-2              0
Crm Cd                0
Crm Cd Desc           0
Mocodes            7498
Vict Age              0
Vict Sex           7163
Vict Descent       7165
Premis Cd             0
Premis Desc          29
Weapon Used Cd    33654
Weapon Desc       33654
Status                0
Status Desc           0
Crm Cd 1              2
Crm Cd 2          46448
Crm Cd 3          49885
Crm Cd 4          49995
LOCATION              0
Cross Street      42258
LAT                   0
LON                   0
dtype: int64

3. Convert the DATE OCC column to a datetime format. Extract the year, month, and day into separate columns. Create a new column for the hour using the TIME OCC column.

In [91]:
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'], format="%m/%d/%Y %I:%M:%S %p", errors='coerce')

df['Year'] = df['DATE OCC'].dt.year
df['Month'] = df['DATE OCC'].dt.month
df['Day'] = df['DATE OCC'].dt.day

df['TIME OCC'] = pd.to_datetime(df['TIME OCC'], format="%H%M", errors='coerce')
df['Hour'] = df['TIME OCC'].dt.hour

checking if everything was done correctly.

In [94]:
print(df.dtypes)

DR_NO                      int64
Date Rptd                 object
DATE OCC          datetime64[ns]
TIME OCC          datetime64[ns]
AREA                       int64
AREA NAME                 object
Rpt Dist No                int64
Part 1-2                   int64
Crm Cd                     int64
Crm Cd Desc               object
Mocodes                   object
Vict Age                   int64
Vict Sex                  object
Vict Descent              object
Premis Cd                float64
Premis Desc               object
Weapon Used Cd           float64
Weapon Desc               object
Status                    object
Status Desc               object
Crm Cd 1                 float64
Crm Cd 2                 float64
LOCATION                  object
Cross Street              object
LAT                      float64
LON                      float64
Year                       int32
Month                      int32
Day                        int32
Hour                     float64
dtype: object

4. Filter the dataset for crimes that occurred in 2023. Further filter crimes with the description BURGLARY in the Crm Cd Desc column.

In [103]:
filter_year_2023 = df_clean[df_clean['DATE OCC'].dt.year == 2023] 
filter_crimes_burglary = filter_year_2023[filter_year_2023['Crm Cd Desc'] == 'BURGLARY']

print(filter_year_2023.head())
print(filter_crimes_burglary.head())

        DR_NO               Date Rptd   DATE OCC            TIME OCC  AREA  \
1   231014031  09/21/2023 12:00:00 AM 2023-09-15 1900-01-01 19:30:00    10
2   231010808  06/27/2023 12:00:00 AM 2023-06-26 1900-01-01 12:30:00    10
9   230710008  05/24/2023 12:00:00 AM 2023-04-11 1900-01-01 09:00:00     7
11  231306866  02/24/2023 12:00:00 AM 2023-02-24 1900-01-01 10:30:00    13
13  230714059  08/31/2023 12:00:00 AM 2023-08-30 1900-01-01 11:48:00     7

      AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
1   West Valley         1011         2     354
2   West Valley         1015         2     354
9      Wilshire          721         2     354
11       Newton         1361         1     761
13     Wilshire          723         1     442

                                 Crm Cd Desc  ... Crm Cd 1  Crm Cd 2  \
1                          THEFT OF IDENTITY  ...    354.0       NaN
2                          THEFT OF IDENTITY  ...    354.0       NaN
9                          THEFT OF IDENTITY  ...    354.0       NaN
11                           BRANDISH WEAPON  ...    761.0       NaN
13  SHOPLIFTING - PETTY THEFT ($950 & UNDER)  ...    442.0       NaN

                                    LOCATION Cross Street      LAT       LON  \
1   18900    CANTLAY                      ST          NaN  34.2023 -118.5458
2    7300    ENFIELD                      AV          NaN  34.2033 -118.5241
9     100 S  DOHENY                       DR          NaN  34.0750 -118.3897
11    200 W  48TH                         ST          NaN  33.9992 -118.2762
13   7900    BEVERLY                      BL          NaN  34.0761 -118.3616

    Year Month Day  Hour
1   2023     9  15  19.0
2   2023     6  26  12.0
9   2023     4  11   9.0
11  2023     2  24  10.0
13  2023     8  30  11.0

[5 rows x 30 columns]
         DR_NO               Date Rptd   DATE OCC            TIME OCC  AREA  \
47   231107877  04/15/2023 12:00:00 AM 2023-01-15 1900-01-01 05:00:00    11
147  231912840  08/15/2023 12:00:00 AM 2023-08-14 1900-01-01 22:00:00    19
292  230813484  08/19/2023 12:00:00 AM 2023-08-19 1900-01-01 05:10:00     8
317  230126836  12/20/2023 12:00:00 AM 2023-12-10 1900-01-01 12:00:00     1
326  231506351  02/26/2023 12:00:00 AM 2023-02-22 1900-01-01 12:30:00    15

       AREA NAME  Rpt Dist No  Part 1-2  Crm Cd Crm Cd Desc  ... Crm Cd 1  \
47     Northeast         1151         1     310    BURGLARY  ...    310.0
147      Mission         1962         1     310    BURGLARY  ...    310.0
292      West LA          857         1     310    BURGLARY  ...    310.0
317      Central          154         1     310    BURGLARY  ...    310.0
326  N Hollywood         1562         1     310    BURGLARY  ...    310.0

     Crm Cd 2                                  LOCATION Cross Street      LAT  \
47      946.0   5000 W  SUNSET                       BL          NaN  34.0981
147     998.0  15000    CORE                         LN          NaN  34.2424
292       NaN   9400 W  PICO                         BL          NaN  34.0553
317       NaN    100 E  6TH                          ST          NaN  34.0460
326       NaN   4400    BABCOCK                      AV          NaN  34.1504

          LON  Year Month Day  Hour
47  -118.2983  2023     1  15   5.0
147 -118.4596  2023     8  14  22.0
292 -118.3943  2023     8  19   5.0
317 -118.2493  2023    12  10  12.0
326 -118.4063  2023     2  22  12.0

[5 rows x 30 columns]

5. Group the data by AREA NAME and calculate the total number of crimes and the average victim age. Sort the results by total crimes in descending order.

In [106]:
areaname = df.groupby('AREA NAME')

mean_victimage = areaname['Vict Age'].mean()
count_crimes = areaname['Crm Cd Desc'].count()

r = pd.DataFrame({
    'mean_victimage': mean_victimage,
    'count_crimes': count_crimes
})

r_sorted = r.sort_values(by='count_crimes', ascending=False)
print(r_sorted)

             mean_victimage  count_crimes
AREA NAME
Central           28.481376          3517
77th Street       29.151525          3115
Pacific           28.978029          3004
Southwest         29.048040          2831
Hollywood         28.331377          2556
Newton            25.054789          2537
Olympic           27.732858          2523
N Hollywood       28.346784          2503
Southeast         28.362749          2459
Rampart           26.273451          2388
Wilshire          29.595628          2379
West LA           30.307248          2249
Van Nuys          31.748381          2162
West Valley       30.640492          2114
Northeast         28.732763          2103
Topanga           34.018786          2076
Harbor            26.983918          2052
Devonshire        29.597735          2031
Mission           29.609415          1933
Hollenbeck        26.158437          1843
Foothill          30.511385          1625

**PART 2**

1. Find the top 3 most frequent Crm Cd Desc values.

In [110]:
top3_crimes = df['Crm Cd Desc'].value_counts()[:3]
print(top3_crimes)

Crm Cd Desc
VEHICLE - STOLEN            5733
BATTERY - SIMPLE ASSAULT    3715
THEFT OF IDENTITY           3169
Name: count, dtype: int64

2. Group the data by Hour and count the number of crimes.

In [113]:
crimes_by_hour = df.groupby('Hour').size()
print(crimes_by_hour)

Hour
1.0      222
2.0      364
3.0     1394
4.0     1111
5.0      954
6.0     1106
7.0     1302
8.0     1776
9.0     1841
10.0    2738
11.0    2278
12.0    3574
13.0    2547
14.0    2667
15.0    2773
16.0    2597
17.0    2914
18.0    3015
19.0    2762
20.0    3357
21.0    2677
22.0    2585
23.0    2362
dtype: int64

3. Group the data by Vict Sex and calculate: Total crimes, Average victim age.

In [116]:
victsex = df.groupby('Vict Sex')

mean_victimage = victsex['Vict Age'].mean()
count_crimes = victsex['Crm Cd Desc'].count()

r = pd.DataFrame({
    'mean_victimage': mean_victimage,
    'count_crimes': count_crimes
})

r_sorted = r.sort_values(by='count_crimes', ascending=True)
print(r_sorted)

          mean_victimage  count_crimes
Vict Sex
H              36.333333             3
X               2.672043          4836
F              38.164156         17922
M              37.165621         20076

**PART 4**

Create a new column, Severity Score, based on the following rules:

• Assign 5 points if a weapon was used (Weapon Used Cd is not null).

• Assign 3 points for crimes under BURGLARY.

• Assign 1 point for all other crimes.

• Group by AREA NAME and find the total severity score for each area.

In [122]:
def severity_score(x):
    if pd.notnull(x['Weapon Used Cd']):
        return 5
    elif x['Crm Cd Desc'] == 'BURGLARY':
        return 3
    else:
        return 1

df['Severity Score'] = df.apply(severity_score, axis=1)
severity_by_area = df.groupby('AREA NAME')['Severity Score'].sum()

print(severity_by_area)

AREA NAME
77th Street    9247
Central        8541
Devonshire     4429
Foothill       3823
Harbor         4940
Hollenbeck     4439
Hollywood      6590
Mission        4493
N Hollywood    5431
Newton         6773
Northeast      4461
Olympic        6257
Pacific        6490
Rampart        6216
Southeast      7129
Southwest      7005
Topanga        4484
Van Nuys       4724
West LA        4625
West Valley    4952
Wilshire       5203
Name: Severity Score, dtype: int64

**Bonus Part**

Use the LAT and LON columns to identify crimes that occurred within a specific latitude-longitude bounding box (e.g., downtown area).

In [128]:
min_lat = 34
max_lat = 34.2
min_lon = -118.2
max_lon = -118

boundary_crimes = df[(df['LAT'] >= min_lat) & (df['LAT'] <= max_lat) & (df['LON'] >= min_lon) & (df['LON'] <= max_lon)]

print(boundary_crimes)

           DR_NO               Date Rptd   DATE OCC            TIME OCC  AREA  \
22     201109462  05/18/2020 12:00:00 AM 2020-05-17 1900-01-01 13:30:00    11
104    230415697  12/24/2023 12:00:00 AM 2023-12-24 1900-01-01 14:30:00     4
188    220404657  01/21/2022 12:00:00 AM 2022-01-21 1900-01-01 17:00:00     4
211    230405503  02/15/2023 12:00:00 AM 2023-02-15 1900-01-01 14:50:00     4
215    210409270  06/03/2021 12:00:00 AM 2021-06-02 1900-01-01 23:30:00     4
...          ...                     ...        ...                 ...   ...
49865  211116149  12/07/2021 12:00:00 AM 2021-12-01 1900-01-01 15:45:00    11
49889  200408733  05/11/2020 12:00:00 AM 2020-05-10 1900-01-01 20:00:00     4
49950  220401295  11/25/2022 12:00:00 AM 2022-11-23 1900-01-01 23:20:00     4
49959  220411213  07/24/2022 12:00:00 AM 2022-07-19 1900-01-01 12:00:00     4
49972  220415792  11/29/2022 12:00:00 AM 2022-11-28 1900-01-01 17:00:00     4

        AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
22      Northeast         1139         2     900
104    Hollenbeck          479         2     626
188    Hollenbeck          478         2     860
211    Hollenbeck          404         2     745
215    Hollenbeck          469         1     341
...           ...          ...       ...     ...
49865   Northeast         1129         2     745
49889  Hollenbeck          449         1     420
49950  Hollenbeck          427         2     740
49959  Hollenbeck          439         1     520
49972  Hollenbeck          449         1     331

                                             Crm Cd Desc  ... Crm Cd 2  \
22                              VIOLATION OF COURT ORDER  ...      NaN
104                    INTIMATE PARTNER - SIMPLE ASSAULT  ...      NaN
188                          BATTERY WITH SEXUAL CONTACT  ...      NaN
211             VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...      NaN
215    THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LI...  ...      NaN
...                                                  ...  ...      ...
49865           VANDALISM - MISDEAMEANOR ($399 OR UNDER)  ...      NaN
49889    THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)  ...      NaN
49950  VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...  ...    998.0
49959                           VEHICLE - ATTEMPT STOLEN  ...      NaN
49972  THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...  ...      NaN

                                      LOCATION Cross Street      LAT  \
22     6400    LA RIBA                      WY          NaN  34.1116
104     800    SPENCE                       ST          NaN  34.0277
188    3400    PERCY                        ST          NaN  34.0286
211                        5500    VIA MARISOL          NaN  34.1045
215                             400 S  INDIANA          NaN  34.0333
...                                        ...          ...      ...
49865                         400 N  AVENUE 66          NaN  34.1164
49889  1100    STONE                        ST          NaN  34.0509
49950  4600    KLAMATH                      ST          NaN  34.0802
49959  1900 N  MARIANNA                     AV          NaN  34.0635
49972  3000    GANAHL                       ST          NaN  34.0520

            LON  Year  Month Day  Hour Severity Score
22    -118.1818  2020      5  17  13.0              1
104   -118.1979  2023     12  24  14.0              5
188   -118.1996  2022      1  21  17.0              5
211   -118.1850  2023      2  15  14.0              1
215   -118.1946  2021      6   2  23.0              1
...         ...   ...    ...  ..   ...            ...
49865 -118.1776  2021     12   1  15.0              1
49889 -118.1932  2020      5  10  20.0              1
49950 -118.1848  2022     11  23  23.0              1
49959 -118.1791  2022      7  19  12.0              1
49972 -118.1958  2022     11  28  17.0              1

[893 rows x 31 columns]